html, body {
	/* Le jeu prend la page entière du navigateur */
	height: 100%;
	width: 100%;
}

@font-face {	/* Charge la police */
	font-family: "LifeCraft_Font_0";
	src: url('./fonts/LifeCraft_Font_0.ttf');

}

#footer {
	width: 100%;
	height: 30px;
	color: #95dd22;
	position: fixed;
	bottom: 0;
	left: 0;
	font-size: 15px;
	display: flex;
	justify-content: center;
	align-items: center;
	background-image: url(./Images/wood2.jpg);
	background-size: 85px;
}

a {
	color: #26efff;
}

a:visited {
	color: #26efff;
}

a:hover {
	color: #ff3a26;
}

#gameVersion {
	position: absolute;
	right: 14%;
}

body {
	font-family: 'Josefin Sans', sans-serif;
	background-color: grey;
	margin: 0;
	font-size: 15px;
	background-image: url(./Images/wood2.jpg);
	background-size: 85px;
}

#saveBtns {
	display: flex;
	flex-direction: column;
	position: absolute;
	left: 15%;
	z-index: 666;
	margin-top: 10px;
}

#save {
	width: 119px;
	height: 30px;
	background-image: url(./Images/save.png);
	margin-bottom: 10px;
}

#save:hover {
	background-image: url(./Images/save-active.png);
}

#load {
	width: 119px;
	height: 30px;
	position: relative;
	background-image: url(./Images/load.png);
	margin-bottom: 10px;
}

#load:hover {
	background-image: url(./Images/load-active.png);
}

#export{
	width: 119px;
	height: 30px;
	position: relative;
	background-image: url(./Images/export.png);
}

#export:hover {
	background-image: url(./Images/export-active.png);
}

.fileUpload {
	opacity: 0;
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	width: 100%;
	height: 100%;
}

#jeu {	/* Map du jeu */
	position: absolute;
	background-image: url('./Images/map.png');
	left: 14%;
	display: grid;
	grid-template-rows: 100px 100px 100px 100px 100px 100px 100px 100px 100px;
	grid-template-columns: 100px 100px 100px 100px 100px 100px 100px 100px 100px 100px 100px 100px 100px 100px;
}

h2 {	/* Titre Ressources et Bonus */
	background: linear-gradient(to top, #ededf0 0%, #181b1f 35%, #ededf0 70%, #091014 80%, #181b1f 85%);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	font-size: 50px;
} 

#separationGauche { /* Barre de séparation gauche entre HUD et Map */
	background-image: url('./Images/separationG.png');
	position: absolute;
	left: 13%;
	width: 28px;
	height: 900px;
	z-index: 999;
}

#separationDroite { /* Barre de séparation droite entre HUD et Map */
	background-image: url('./Images/separationD.png');
	position: absolute;
	right: 13%;
	width: 28px;
	height: 900px;
	z-index: 999;
}

#HudBonus {
	z-index: 900;
	position: absolute;
	left: 0;
	height: 900px;
	width: 14%;
	display: flex;
	flex-wrap: wrap;
	background-image: url(./Images/hudG.png);
	background-size: cover;
	
}

#HautHudBonus {
	
	height: 100px;
	width: 100%;
	justify-content: center;
	align-items: center;
	font-family: "LifeCraft_Font_0";
	font-size: 40px;
	display: flex;
	flex-wrap: wrap;
	margin-top: 100px;
}

#BasHudBonus {

	padding-left: 30px;
	display: flex;
	width: 100%;
	height: 690px;
	flex-wrap: wrap;

		}


#BasHudBonus button {

background-color: transparent;
display: block;
width: 100%;
border: none;
color: white;
font-size: 0.9em;
padding-top: 5px;

}

#ItemBonus1 {
	
	width: 100%;
	height: 60px;
	/*background-image: url(./Images/TexBtn.png);*/
	background-size: cover;
	display: flex;
	justify-content: center;

}
#ItemBonus2 {
	
	width: 100%;
	height: 60px;
	background-image: url(./Images/TexBtn.png);
	background-size: cover;
	display: flex;
	justify-content: center;

}
#ItemBonus3 {
	width: 100%;
	height: 60px;
	background-image: url(./Images/TexBtn.png);
	background-size: cover;
	display: flex;
	justify-content: center;

}
#ItemBonus4 {
	
	width: 100%;
	height: 60px;
	background-image: url(./Images/TexBtn.png);
	background-size: cover;
	display: flex;
	justify-content: center;

}
#ItemBonus5 {
	
	
	width: 100%;
	height: 60px;
	background-image: url(./Images/TexBtn.png);
	background-size: cover;
	display: flex;
	justify-content: center;

}
#ItemBonus6 {
	
	width: 100%;
	height: 60px;
	background-image: url(./Images/TexBtn.png);
	background-size: cover;
	display: flex;
	justify-content: center;

}
#ItemBonus7 {
	
	width: 100%;
	height: 60px;
	background-image: url(./Images/TexBtn.png);
	background-size: cover;
	display: flex;
	justify-content: center;

}
#ItemBonus8 {
	
	width: 100%;
	height: 60px;
	background-image: url(./Images/TexBtn.png);
	background-size: cover;
	display: flex;
	justify-content: center;

}
#ItemBonus9 {
	
	width: 100%;
	height: 60px;
	background-image: url(./Images/TexBtn.png);
	background-size: cover;
	display: flex;
	justify-content: center;

}
#ItemBonus10 {
	
	width: 100%;
	height: 60px;
	background-image: url(./Images/TexBtn.png);
	background-size: cover;
	display: flex;
	justify-content: center;

}

.tooltip {
	position: relative;
	display: inline-block;
}

#upgradeClickBois:hover ,#upgradeClickPierre:hover, #autoClickBois:hover, #autoClickPierre:hover, #batimentSoldat:hover, #batimentDefense:hover, #newSoldat:hover, #murailles:hover, #ItemBonus9:hover, #ItemBonus10:hover {
	background: linear-gradient(rgba(0,0,0,0), rgba(0,0,0,0)), url('./Images/TexBtn-hover.png');
}

.Resize {
	max-width: 30px;
	height: auto;
}

.tooltiptext {
	visibility: hidden;
	width: 320px;
	height: 100px;
	background-image: url(./Images/Tooltip.png);
	color: white;
	text-align: center;
	line-height: 20px;
	position: absolute;
	z-index: 777;
	top: -15px;
	left: 110%;
}

.tooltip .tooltiptext::after {
	content: " ";
  	position: absolute;
  	top: 50%;
  	right: 100%; /* To the left of the tooltip */
  	margin-top: -15px;
  	border-width: 15px;
  	border-style: solid;
  	border-color: transparent grey transparent transparent;
}

.tooltip:hover .tooltiptext {
	visibility: visible;
}

#HudRessources {
	
	position: absolute;
	right: 0;
	height: 900px;
	width: 13%;
	z-index: 555;
	display: flex;
	flex-wrap: wrap;
	background-image: url(./Images/hudD.png);
	background-size: cover;
}

#HautHudRessources {
	
	height: 100px;
	width: 100%;
	text-align: center;
	justify-content: center;
	align-items: center;
	font-family: "LifeCraft_Font_0";
	font-size: 40px;
	color: white;
	display: flex;
	flex-wrap: wrap;
	margin-right: 10px;
	margin-top: 100px;
}

#BasHudRessources {

	padding-right:18px;
	display: flex;
	flex-wrap: wrap;
	width: 100%;
	height: 690px;
	
}

#Ressource1 {

	padding-left: 15px;
	padding-top: 15px;
	color: white;
	font-size: 0.9em;
	display: flex;
	width: 100%;
	height: 60px;
	flex-wrap: wrap;
	background-image: url(./Images/TexBtn.png);
	background-size: cover;

}

#Ressource2 {

	padding-left: 15px;
	padding-top: 15px;
	color: white;
	font-size: 0.9em;
	display: flex;
	width: 100%;
	height: 60px;
	flex-wrap: wrap;
	background-image: url(./Images/TexBtn.png);
	background-size: cover;
}

#Ressource3 {

	padding-left: 15px;
	padding-top: 4px;
	padding-bottom: 6px;
	color: white;
	font-size: 0.9em;
	display: flex;
	width: 100%;
	height: 60px;
	flex-wrap: wrap;
	background-image: url(./Images/TexBtn.png);
	background-size: cover;
	
}

#Ressource4 {

	padding-left: 15px;
	padding-top: 4px;
	padding-bottom: 6px;
	color: white;
	font-size: 0.9em;
	display: flex;
	width: 100%;
	height: 60px;
	flex-wrap: wrap;
	background-image: url(./Images/TexBtn.png);
	background-size: cover;
	
}

#Ressource5 {

	padding-left: 15px;
	padding-top: 4px;
	padding-bottom: 6px;
	color: white;
	font-size: 0.9em;
	display: flex;
	width: 100%;
	height: 60px;
	flex-wrap: wrap;
	background-image: url(./Images/TexBtn.png);
	background-size: cover;
	
}

#Ressource6 {

	padding-left: 15px;
	padding-top: 15px;
	color: white;
	font-size: 0.9em;
	display: flex;
	width: 100%;
	height: 60px;
	flex-wrap: wrap;
	background-image: url(./Images/TexBtn.png);
	background-size: cover;
	
}

#Ressource7 {

	padding-left: 15px;
	padding-top: 15px;
	color: white;
	font-size: 0.9em;
	display: flex;
	width: 100%;
	height: 60px;
	flex-wrap: wrap;
	background-image: url(./Images/TexBtn.png);
	background-size: cover;
	
}

#jeu div { /* Border temporaire pour déterminer les divs */
	
}

.BatimentBase {
	background-image: url(./Images/Orc_Base.gif);
	background-size: cover;
}


.wood {
	cursor: url(./Images/axe.png),pointer;
}

.wood:active {
	cursor: url(./Images/axeActive.png),pointer;
}

.rock {
	cursor: url(./Images/pickaxe.png),pointer;
}

.rock:active {
	cursor: url(./Images/pickaxeActive.png),pointer;
}

.boutonspierre {/*position des boutons Pierre */
position: absolute;
padding-left: 0;
}

h5 { /* Texte animation ajout Bois & Pierre */
	font-size: 18px;
	margin-top: -5px;
}

.woodAnim {
	position: absolute;
	z-index: 999;
	height: 50px;
	width: 100px;
	background-image: url(./Images/wood.png);
	background-repeat: no-repeat;
	background-position: center;
	text-align: center;
	margin-top: -50px;
	margin-left: -45px;
	color: white;

}

.rockAnim {
	position: absolute;
	z-index: 999;
	height: 50px;
	width: 100px;
	background-image: url(./Images/rock.png);
	background-repeat: no-repeat;
	background-position: center;
	text-align: center;
	margin-top: -50px;
	margin-left: -45px;
	color: white;
}

.ressourceMove {
	animation-name: ressourceMove;
	animation-duration: 1s;
}

@keyframes ressourceMove {
	0% { transform: translateY(0px); }

	100% { transform: translateY(-100px); }
}

/* css events */
#imgEvents{
	height: 70%;
	background-repeat: no-repeat;
	background-size: contain;
	background-position: center;
}
#txtEvents{
	color: white;
	text-align: center;
	padding-top: 20px;	
}

#events {
	opacity: 0.8;
	display: none;
	background-color: black; 
	height: 300px;
	width: 700px;
	position: absolute; 
	left: 33%;
	right: 25%;
	
}

/* css alerte bienvenue */
#imgBienvenue{
	height: 70%;
	background-repeat: no-repeat;
	background-size: contain;
	background-position: center;
}
#txtBienvenue{
	color: white;
	text-align: center;
	padding-top: 20px;	
}

#bienvenue {
	opacity: 0.8;
	display: none;
	background-color: black; 
	height: 700px;
	width: 700px;
	position: absolute; 
	left: 33%;
	right: 25%;
	
}

#boutonBienvenue {
	display: block;
	font-weight: bolder;
	margin-right: auto;
	margin-left: auto;
	margin-top:3.5em;
}

.tornado {
	position: absolute;
	z-index: 888;
	top: 25%;
	left: 0%;
	width: 480px;
	height: 360px;
	background-image: url(./Images/sharknado.gif);
	background-repeat: no-repeat;
	animation-name: sharknado;
	animation-duration: 5s;
}

.tornadoFade {
	animation-name: sharknadoFade;
	animation-duration: 3s;
}

@keyframes sharknado {
	0% { transform: translateX(0px); }
	100% { transform: translateX(600px); }
}

@keyframes sharknadoFade {
	0% { opacity: 1; }
	100% { opacity: 0; }

}

/* Liste ID CSS*/

#y1x1  {

}
#y1x2  {

}
#y1x3  {

}
#y1x4  {

}
#y1x5  {

}
#y1x6  {

}
#y1x7  {

}
#y1x8  {

}
#y1x9  {

}
#y1x10 {

}
#y1x11 {

}
#y1x12 {

}
#y1x13 {

}
#y1x14 {

}
#y2x1  {

}
#y2x2  {

}
#y2x3  {

}
#y2x4  {

}
#y2x5  {

}
#y2x6  {

}
#y2x7  {

}
#y2x8  {

}
#y2x9  {

}
#y2x10 {

}
#y2x11 {
	background-repeat: no-repeat;

}
#y2x12 {

}
#y2x13 {

}
#y2x14 {

}
#y3x1  {

}
#y3x2  {

}
#y3x3  {

}
#y3x4  {

}
#y3x5  {

}
#y3x6  {

}
#y3x7  {

}
#y3x8  {

}
#y3x9  {

}
#y3x10 {

}
#y3x11 {

}
#y3x12 {

}
#y3x13 {

}
#y3x14 {

}
#y4x1  {

}
#y4x2  {

}
#y4x3  {

}
#y4x4  {

}
#y4x5  {

}
#y4x6  {

}
#y4x7  {

}
#y4x8  {

}
#y4x9  {

}
#y4x10 {

}
#y4x11 {

}
#y4x12 {

}
#y4x13 {

}
#y4x14 {

}
#y5x1  {

}
#y5x2  {

}
#y5x3  {

}

#y5x4  {

}

#y5x5  {

}
#y5x6  {

}
#y5x7  {
	background-repeat: no-repeat;

}
#y5x8  {

}
#y5x9  {

}
#y5x10 {

}
#y5x11 {

}
#y5x12 {

}
#y5x13 {

}
#y5x14 {

}
#y6x1  {

}
#y6x2  {

}
#y6x3  {

}
#y6x4  {

}
#y6x5  {

}
#y6x6  {
	background-repeat: no-repeat;

}
#y6x7  {

}
#y6x8  {

}
#y6x9  {

}
#y6x10 {

}
#y6x11 {

}
#y6x12 {

}
#y6x13 {

}
#y6x14 {

}
#y7x1  {

}
#y7x2  {

}
#y7x3  {

}
#y7x4  {

}
#y7x5  {

}
#y7x6  {

}
#y7x7  {

}
#y7x8  {

}
#y7x9  {

}
#y7x10 {

}
#y7x11 {
	background-repeat: no-repeat;

}
#y7x12 {

}
#y7x13 {

}
#y7x14 {

}
#y8x1  {

}
#y8x2  {

}
#y8x3  {

}
#y8x4  {

}
#y8x5  {

}
#y8x6  {

}
#y8x7  {

}
#y8x8  {

}
#y8x9  {

}
#y8x10 {

}
#y8x11 {

}
#y8x12 {

}
#y8x13 {

}
#y8x14 {

}
#y9x1  {

}
#y9x2  {

}
#y9x3  {

}
#y9x4  {

}
#y9x5  {

}
#y9x6  {

}
#y9x7  {

}
#y9x8  {

}
#y9x9  {

}
#y9x10 {

}
#y9x11 {

}
#y9x12 {

}
#y9x13 {

}
#y9x14 {

}

